/tesis_project_env/algorithms/img/
/tesis_project_env/bin/
/tesis_project_env/etc/
/tesis_project_env/include/
/tesis_project_env/lib/
/tesis_project_env/Scripts/
/tesis_project_env/share/
/tesis_project_env/tcl/
